<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
       <link rel="stylesheet" href="../../../css/base.css">
        <link rel="stylesheet" href="../../../css/main.css">
    <title>Document</title>
</head>

<body>

    <header>
        <section class="contain header-top setting-contain">
            <div class="header">
                <div class="header-left">
                    <img src="../../../images/header/techfluencer.svg" alt="header">
                </div>
                <div class="header-right">
                    <div class="img-header" id="notification">
                        <img src="../../../images/q.svg" alt="vector">
                        <img class="ellipse" src="../../../images/Ellipse 35.svg" alt="Ellipse">
                    </div>
                    <div class="header-img"></div>
                </div>
            </div>
        </section>
    </header>
    <section class="contain setting-contain">
        <nav class="navigation">
            <a href="../influencer-dashboard.html">
                <div class="menu-service">
                    <div class="contain-img">
                        <img src="../../../images/DASHt.svg" alt="bar">
                    </div>
                    <span>Dashboard</span>
                </div>
            </a>
         <a href="../basic.html">
            <div class="menu-bar ">
                <div class="contain-img">
                    <img src="../../../images/RequstWhite.svg" alt="bar">
                </div>
                <span>Requests</span>
            </div>
         </a>
           <a href="../service/services.html">
            <div class="menu-bar ">
                <div class="contain-img">
                    <img src="../../../images/Vector (1).svg" alt="bar">
                </div>
                <span>Services</span>
            </div>
           </a>
            <a href="../social/youtube/social-media.html">
                <div class="menu-bar ">
                    <div class="contain-img">
                        <img src="../../../images/Vector (2).svg" alt="bar">
                    </div>
                    <span>Channels</span>
                </div>
            </a>
          <a href="../custom_request/order.html">
            <div class="menu-bar ">
                <div class="contain-img">
                    <img src="../../../images/Vector (3).svg" alt="bar">
                </div>
                <span>Orders</span>
                <!-- <img class="count" src=".../../../images/Frame 1637432.svg" alt="count"> -->
            </div>
          </a>
            <a href="">
                <div class="menu-bar unactive-one">
                    <div class="contain-img">
                        <img src="../../../images/Vector 328.svg" alt="bar">
                    </div>
                    <span>Payments</span>
                </div>
            </a>
          <a href="./settings.html">
            <div class="menu-bar active settings-actived">
                <div class="contain-img">
                    <img src="../../../images/image/settings.svg" alt="bar">
                </div>
                <span>Settings</span>
            </div>
          </a>
            <div class="menu-cont  unactive  ">

            </div>
            <div class="menu-cont"></div>
        </nav>

        <div class="edit-profile">
            <label>
                EDIT PROFILE
            </label>
            <div class="edit-items">
                <div class="edit-item item-activetion">
                    <img src="../../../images/image/edit1 (1).svg" alt="edit">
                    <span>Edit profile</span>
                </div>
             <a href="./email-password-settings.html">
                <div class="edit-item">
                    <img src="../../../images/image/edit1 (3).svg" alt="edit">
                    <span>Email & password</span>
                </div>
            </a>
            <a href="./notification.html">
                <div class="edit-item">
                        <img src="../../../images/image/edit1 (2).svg" alt="edit">
                        <span>Notifcation settings</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="edition">
            <h1>Edit profile</h1>
            <div class="edition-profile">
                <div class="upload-new-picture">
                    <img src="../../../images/image/edition.svg" alt="edition">
                        <div class="upload-button">
                            Upload new picture
                        </div>
                        <div class="delete-button">
                            Delete
                        </div>
                </div>

                <div class="sign-in">
                    <div class="item">
                        <form >First name *</form>
                        <input type="text" placeholder="INFLUENCER " class="input-active">
                    </div>
                    <div class="item" id="input-item">
                        <form >Last name *</form>
                        <input type="text" placeholder="Hudson">
                    </div>
                    <div class="item">
                        <form >Country *</form>
                        <select name="select">
                            <option value="select">Select</option>
                            <option value="uzbekistan">Uzbekistan</option>
                            <option value="BAA">BAA</option>
                        </select>
                    </div>
                    <div class="item">
                        <form >Language *</form>
                        <select name="select">
                            <option value="select">Select</option>
                            <option value="Uzbek">Uzbek</option>
                            <option value="English">English</option>
                        </select>
                    </div>

                    <div class="gender">
                        <div class="item ">
                            <form >Gender *</form>
                            <select name="select" >
                                <option value="select">Select Gender</option>
                                <option value="Uzbek">Male</option>
                                <option value="English">Female</option>
                            </select>
                            <span>Select one or more social networks to run the campaign</span>
                          <div class="btn-edit">
                            <div class="gender-button">
                                Male
                                <div class="cancel-item">
                                    <img src="../../../images/image/cancel.svg" alt="cancel">
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div class="item edit-number">
                        <form >Language *</form>
                        <div class="sign-info">
                            <input type="number" placeholder="+971" class="code-number">
                            <input type="number" placeholder="235325231213" class="code-number-two">
                        </div>
                    </div>

                 <div class="gender">
                    <div class="item">
                        <form >Industries *</form>
                        <select name="select">
                            <option value="select">Select social network</option>
                            <option value="Uzbek">Uzbek</option>
                            <option value="English">English</option>
                        </select>
                        <span>Select one or more social networks to run the campaign</span>
                       <div class="btn-edit">
                        <div class="gender-button">
                            Technology
                            <div class="cancel-item">
                                <img src="../../../images/image/cancel.svg" alt="cancel">
                            </div>
                        </div>
                        <div class="gender-button">
                            Manifacturing
                            <div class="cancel-item">
                                <img src="../../../images/image/cancel.svg" alt="cancel">
                            </div>
                        </div>
                        <div class="gender-button">
                            Food
                            <div class="cancel-item">
                                <img src="../../../images/image/cancel.svg" alt="cancel">
                            </div>
                        </div>
                       </div>
                    </div>
                 </div>

                 <button class="save">Save</button>

                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="footer">
            <div class="contain">
                <div class="top-footer">
                    <img class="influence" src="../../../images/22 1.svg" alt="fluencer">
                    <nav>
                        <a href="">Brand</a>
                        <a href="">Influencer</a>
                        <a href="">FAQ</a>
                        <a href="">Blog</a>
                        <a href="">Career</a>
                        <a href="">Contact Us</a>
                    </nav>
                    <div class="navlink">
                        <img src="../../../images/in.svg" alt="in">
                        <img src="../../../images/ins.svg" alt="twit">
                        <img src="../../../images/meta.svg" alt="meta">
                        <img src="../../../images/twit.svg" alt="instagram">
                    </div>
                </div>
                <div class="bottom-footer">
                    <span> &copy Techfluencers 2023. All rights reserved</span>
                    <span>Terms and Conditions</span>
                </div>
            </div>
        </div>
    </footer>


    
    <div class="screen">
        <b>I don't know this pages are Connected with which button or nav-bar or filter and etc.
            so You can see order and some service pages. </b>

       <div class="button">
        <a href="./order-two.html">
            <button>Page Order 2</button>
        </a>
        <a href="./order-three.html">
            <button>Page Order 3</button>
        </a>
        <a href="./order-four.html">
            <button>Page Order 4</button>
        </a>
        <a href="./order-five.html">
            <button>Page Order 5</button>
        </a>
        <br><br>
        <div class="etc">
            <a href="./service-two.html">
                <button>Page Service 2</button>
            </a>
            <a href="./service-youtube-two.html">
                <button>Page Service 2</button>
            </a>
            <a href="./service-youtube-three.html">
                <button>Page Service 2</button>
            </a>
            <a href="./service-youtube.html">
                <button>Page Service 2</button>
            </a>
            <a href="./service-youtube-video.html">
                <button>Page Service 2</button>
            </a>
        </div>
    
       </div>

       <img id="screen" src="../../../images/image/cancelimg.svg" alt="">
       
    </div>
    <script src="../js/app.js"></script>
</body>

</html>
