
.order-operation {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E9EBF3;
}

.order-item {
    display: flex;
    gap: 30px;
}

.sorts {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    color: #212121;
}

.sorts #select {
    background: transparent;
    border: none;
}

.order-operation .unactived {
    font-size: 15px;
    color: #757575;
    font-weight: 400;
}

.order-operation .isactived {
    font-size: 15px;
    color: #212121;
    font-weight: 400;
    /* border-bottom: 1px solid #212121; */

}

.order-schedule {
    max-width: 1239px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.order-list {
    width: 100%;
    height: 148px;
    border-radius: 12px;
    background-color: #ffffff;
}

.top-order {
    width: 100%;
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: 1px solid #E9EBF3;
}

.commentment {
    width: 16px;
    height: 16px;
}

.serve-order {
    height: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.serve-order label {
    font-size: 14px;
    margin-bottom: 0
}

.order-type {
    display: flex;
    gap: 5px;
    color: #757575;
}

.order-type div {
    display: flex;
    gap: 3px;
    color: #212121;
    font-weight: 600;
}

.bx .you span {
    font-weight: 600;
}

.left-order-side {
    display: flex;
    align-items: center;
    gap: 15px;
}

.left-order-side label {
    font-size: 14px;
    border-right: 1px solid #E9EBF3;
    padding-right: 15px;
    /* height: 20px; */
}


.left-order-side .Order-name {
    font-weight: 600;
    font-size: 18px;
}

.bottom-order {
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.left-bottom-side {
    display: flex;
    gap: 10px;
    padding-right: 25px;
    border-right: 1px solid #E9EBF3;
}

.service-name {
    max-width: 657px;
    /* height: 47px; */
    display: flex;
    flex-direction: column;
}

.service-name span {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color: #212121;
}

.service-name label {
    font-size: 14px;
    color: #757575;
}

.right-bottom-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.right-bottom-side .bx {
    display: flex;
    flex-direction: column;
}

.bx label {
    color: #757575;
    font-size: 14px;
    line-height: 20px;
}

.bx span {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #212121;
}

.right-bottom-side .prices {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    color: #212121;
}

.right-order-side {
    display: flex;
    gap: 25px;
}

.left-days {
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-days span {
    color: #757575;
    font-weight: 400;
    font-size: 14px;
}

.left-days label {
    width: 93px;
    height: 5px;
    background-color: #E1E3F1;
    border-radius: 2px;
}

.left-days p {
    width: 12px;
    height: 5px;
    border-radius: 2px;
    background-color: #61dc43;
    border-radius: 2px;
}

.green-color {
    color: #4CAF50;
}

.yellow-color {
    color: #F5A200;
}

.light-green {
    color: #34BAB2;
}






/*****************************************************************************/

.video-integration .integr {
    font-size: 12px;
}

.top-upload {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-upload label {
    display: flex;
    align-items: flex-start;
    gap: 12px;
}

.three-upload {
    height: 422px;
}


/**********************************/


.aed-prices{
    font-size: 22px;
    font-weight: 700;
}

.right-bottom-channel{
    width: 400px;
}

.lefting{
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 50px;


}

.notTop{
    width: 1200px;
    height: 600px;
    background-color: #61dc43;
}